.smartphones{
  background: #FFFFFF;
  padding-top: 63px;
}

.smartphones_inner{

}

.smartphones__text{
  display: flex;
  justify-content: space-between;  /* вмете с flex, для разделения элементов */
  align-items: center;
}

.smartphones__title{
  font-weight: bold;
  font-size: 48px;


  color: #828286;
}

.smartphones__filter{
  font-size: 18px;
  
  color: #0D5ADC;
}
.smartphones__amount{
  margin-left: 10px;
  text-decoration: none;
  color: #0D5ADC;
}

.smartphones__comparison{
  padding-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  
}
.smartphones__differences{
  display: flex;
  align-items: center;
  
}
.smartphones__checkbox{
  height: 24px;
  width: 24px;
  left: 0px;
  top: 0px;
  border-radius: 4px;

}
.smartphones__checktext{
  width: 192px;
  margin-left: 14px;

  font-weight: normal;
  font-size: 18px;

  color: #0D5ADC;
}
.smartphones__phones{
  
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  
}

.smartphones__phone{
  margin-left: 40px;

}

.styles.smartphones__block{
  display: flex;
}
.smartphones__phomeImg {
  height: 120px;
}

.smartphones__phoneName{
  font-weight: 500;
  font-size: 18px;
  
}

.specifications__inner p{
  font-weight: 500;
  font-size: 18px;
}