.smartphones{
  padding-top: 101px;
  font-size: 25px;

  }

.smartphones__inner{
overflow-y: ;
}
.smartphones__title{
  position: absolute;
  width: 280px;
  height: 60px;
  left: 165px;
  top: 160px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height, or 125% */

  letter-spacing: 0.02em;

  color: #828286;
}

.smartphones__filter{
  position: absolute;
  width: 263px;
  height: 43px;
  left: 1012px;
  top: 158px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 60px;
  /* or 333% */

  letter-spacing: 0.02em;

  color: #0D5ADC;
}
.smartphones__text{
  position: absolute;
width: 192px;
height: 43px;
left: 203px;
top: 346px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 60px;
/* or 333% */

letter-spacing: 0.02em;

color: #0D5ADC;
}
.styles.smartphones__checkbox{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  height: 24px;
  width: 24px;
  left: 0px;
  top: 0px;
  border: 2px solid #C1C1C2;
  border-radius: 4px;

}
/* .smartphones__phones{
  display: flex;
} */