.app-wrapper{
  position: relative;
  width: 100%;
  max-width: 1442px;
  margin: 0 auto;  /* выравнивание по центру низ верх - 0, лево право - авто */
  /* padding: 0 15px; */
  background: #F4F9FC;
}
