.app-wrapper{
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;  /* выравнивание по центру низ верх - 0, лево право - авто */
  /* padding: 0 15px; */
  /* background-color: #F4F9FC; */
}


.container{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;  /* выравнивание по центру низ верх - 0, лево право - авто */
  /* padding: 0 15px; */
}